# Autodetect text files
* text=auto

# Explicitly state certain project settings files are text files
ProjectSettings/GraphicsSettings.asset text
ProjectSettings/EditorBuildSettings.asset text
ProjectSettings/TagManager.asset text
ProjectSettings/ProjectSettings.asset text
ProjectSettings/ProjectVersion.txt text


# Specify scripts, prefabs, scenes, and meta files are text
Assets/**/*.meta text
Assets/**/*.cs text
Assets/Prefabs/**/*.prefab text
Assets/Scenes/**/*.unity text


# Specify these other filetypes are also text
Assets/**/*.txt text
Assets/**/*.test text

# Ensure that images and data files are treated at binary files
Assets/**/*.png binary
Assets/**/*.ttf binary
Assets/**/*.doc binary
Assets/**/*.zip binary
Assets/**/*.data binary