# Ignore non-source Unity project files
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Pp]ackages/
[Pp]rojectSettings/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
ProjectSettings/*.asset
ProjectSettings/*.txt

# Ignore visual studio
.vs/
.vscode/

# Unity meta files
*.pidb.meta
*.pdb.meta

# Ignore unity project and object files
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb

# Ignore vim temporary files
*.swp
*.swo
